{% if not description %}
  {% set description = sitemeta.description | normalizeDescription | sanitizeHtmlAttr %}
{% else %}
  {% set description = description | normalizeDescription %}
{% endif %}
{% if sitePage %}
  {% set title = sitePage.title %}
{% endif %}
{% if (permalink == '/') 
  or not title %}
  {% set docTitle = sitemeta.title %}
{% else %}
  {% set docTitle = [title, sitemeta.title] | join(" | ") %}
{% endif %}
{% set shareIcons = [
  "twitter",
  "facebook",
  "whatsapp",
  "reddit",
  "pocket",
  "email"
] %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="{{ description }}"/>
    <meta name="generator" content="Eleventy">
    {% include "partials/googlefonts.njk" %}
    {% ogmeta docTitle,
    page.url | toAbsoluteUrl,
    description | normalizeDescription %}
    {% if ogImage %}{% ogimage ogImage.src,
      ogImage.alt %}
    {% elif sitemeta.ogImage %}{% ogimage sitemeta.ogImage.src,
      sitemeta.ogImage.alt %}
    {% endif %}
    <title>{{ docTitle }}</title>
    {# Twitter me #}
    <link rel="me" href="https://twitter.com/jmtapir"/>

    {# inline css #}
    {% set css %}
    {% include "partials/googlefonts.css" %}
    {% if criticalCss %}
      {% for item in criticalCss | makeArray %}
        {% include "critical-css/" + item + ".css" %}
      {% endfor %}
    {% endif %}
    {% endset %}
    <style>
      {{css | safe}}
    </style>

    {% if hash.css | has('index') %}<link rel="stylesheet" href="/css/index{{ hash.css.index }}.css" media="screen"/>{% endif %}
    {% if hash.js | has('index') %}
      <script src="/js/index{{ hash.js.index }}.js" defer></script>
    {% endif %}
    {% if pageJs %}
      {% for item in pageJs | makeArray %}
        <script src="/js/{{ item }}{{ hash.js[item] }}.js" defer></script>
      {% endfor %}
    {% endif %}
    {% if sitemeta | has('favicon') %}{% favicons sitemeta.favicon %}
    {% endif %}
    <script>
      document
        .documentElement
        .classList
        .add('enhanced')
    </script>
  </head>
  <body {% if bodyClass %}class="{{ bodyClass }}"{% endif %}>
    <a href="#main-content" class="skip-link sr-only sr-only-focusable">Skip to main content</a>
    {% include "partials/header.njk" %}
    <main id="main-content" {% if templateClass %}class="{{ templateClass }}"{% endif %}>
      <article>
        {{ content | safe }}
      </article>
      {% if tmplClass === 'post' %}
        <hr/>
        <nav class="back-to-top">
          <div class="prev">
            {% if pagination.previous %}
              <a href="{{ pagination.href.previous }}">Previous post</a>
            {% endif %}
          </div>
          <div>
            <a href="#">Back to top</a>
          </div>
          <div class="next">
            {% if pagination.next %}
              <a href="{{ pagination.href.next }}">Next post</a>
            {% endif %}
          </div>
        </nav>
        <aside class="share-buttons">
          <p class="share-buttons__text">Like it? Why not show some love and share it:</p>
          <button class="share-button share" id="share-buttons-button">
            <span class="sr-only">Share this article</span>
            {% include "icons/icon-share.svg" %}
          </button>
          <ul class="share-buttons__list" id="share-buttons-list">
            {% for item in shareIcons %}
              <li class="share-buttons__list-item">
                <a href="{% createShareLink item, page.url | toAbsoluteUrl, docTitle %}" class="share-button {{ item }}" aria-labelledby="share-label-{{ item }}">
                  <span id="share-label-{{ item }}" class="sr-only">Share via {{ item | capitalize }}</span>
                  {% include "icons/icon-" + item + ".svg" %}</a>
              </li>
            {% endfor %}
          </ul>
        </aside>
      {% endif %}
    </main>
    {% include "partials/footer.njk" %}
    {% include "partials/fsbackground.njk" %}

    {# Analytics #}
    {% if analytics.enabled and NODE_ENV === 'production' %}
      <noscript>
        <img src="{{ analytics.imgSrc }}" alt="">
      </noscript>
      <script defer src="{{ analytics.scriptSrc }}"></script>
    {% endif %}
  </body>
</html>