---
title: Oops!
permalink: 404.html
layout: layouts/base.njk
---

{% set firstPost = posts.all | first %}

<h1>Oops!</h1>

<figure>
    <video autoplay loop muted playsinline>
        <source src="/static/gina.webm" type="video/webm">
        <source src="/static/gina.mp4" type="video/mp4">
    </video>
    <figcaption>Gina Linetti: “How did my life come to this?”</figcaption>
</figure>

<p>It seems you are looking for a page that doesn't exist. Perhaps you are looking for one of these pages?</p>

<ul>
    <li>
        <a href="/about">About</a>
    </li>
    <li>
        <a href="/posts">Blog</a>
    </li>
    <li>
        <a href="/posts/{{ firstPost.slug }}">My Most Recent Post</a>
    </li>
</ul>