---
layout: 'layouts/base.njk'
tmplClass: 'post'
pagination:
  data: posts.all
  size: 1
  alias: post
permalink: "/posts/{{ post.slug | slug }}/"
eleventyComputed:
  description: "{{ post.excerpt }}"
  title: "{{ post.title }}"
---

<h1 class="posts__title">{{ post.title }}</h1>
<h2 class="posts__date">{{ post.date | toPostDate }}</h2>
<ul class="tags__list">
  {% for tag in post.tags %}
    <li class="tags__list-item">
      <a href="/tags/{{ tag }}">#{{ tag }}</a>
    </li>
  {% endfor %}
</ul>

<hr/>

{{ post.content | markdown | safe }}