---
layout: 'layouts/base.njk'
permalink: /tags/
---

<div class="posts__heading">
    <h1>All Tags</h1>
    <a href="/posts" class="posts__tags-link">Posts</a>
</div>

<ul class="tags__list--big">
    {% for tag in tags %}
        <li class="tags__list-item">
            <a href="/tags/{{ tag }}">#{{ tag }}</a>
        </li>
    {% endfor %}
</ul>