@use "mixins" as *;

.back-to-top {
  padding-inline: 0.5rem;
  div {
    width: 6.25rem;
    text-align: center;
    &.prev {
      text-align: left;
    }
    &.next {
      text-align: right;
    }
  }
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: -1rem;
  margin-bottom: 2rem;
  a {
    display: block;
  }
}
