.fsbackground {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.75;
  z-index: -1;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  &.animate {
    opacity: 1;
    animation-name: partiallyFadeOut;
  }
  img,
  picture {
    height: 100%;
    width: 100%;
    margin: 0;
    object-fit: cover;
  }
}
