@use "variables" as *;

.tags {
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    list-style-type: none;
    margin-block: 1rem;
  }
  &__list--big {
    @extend .tags__list;
    font-size: $size-normal;
  }

  &__list-item {
    font-family: $font-mono;
    font-size: 0.75em;

    a {
      display: inline-block;
      $padding-block: 0.46875rem;
      padding: 0.75em $padding-block;
      background-color: $green-light;
      border-radius: calc(($padding-block * 2) + 0.5em);
      text-decoration: none;
      color: inherit;
      transition: color 150ms ease-in-out, background 150ms ease-in-out;

      &:hover {
        background-color: $green-dark;
        color: $white;
      }
    }
  }
}
