// Fonts
$font-body: "Lato", serif;
$font-heading: "Montserrat", sans-serif;
$font-mono: "Inconsolata", monospace;

// theme colors
$gray1: #333333;
$gray2: #4f4f4f;
$gray3: #828282;
$gray4: #bdbdbd;
$gray5: #e0e0e0;
$gray6: #f2f2f2;
$white: #fff;
$green-light: #98d998;
$green-dark: #008000;

// font sizes (minor third)
$size-1: 2.488rem;
$size-2: 2.074rem;
$size-3: 1.728rem;
$size-4: 1.44rem;
$size-5: 1.2rem;
$size-normal: 1rem;
$size-small: 0.8333rem;
small {
  font-size: $size-small;
}
$size-tiny: 0.75rem;

$header-mobile: 2.625rem;
$header-desktop: 4.5625rem;
$footer: 2.599375rem;
