<link rel="preload" href="/fonts/inconsolata-v30-latin-regular.woff2" as="font" type="font/woff2" crossorigin />
<link rel="preload" href="/fonts/lato-v23-latin-italic.woff2" as="font" type="font/woff2" crossorigin />
<link rel="preload" href="/fonts/lato-v23-latin-regular.woff2" as="font" type="font/woff2" crossorigin />
<link rel="preload" href="/fonts/lato-v23-latin-700.woff2" as="font" type="font/woff2" crossorigin />
<link rel="preload" href="/fonts/lato-v23-latin-700italic.woff2" as="font" type="font/woff2" crossorigin />
<link rel="preload" href="/fonts/montserrat-v24-latin-regular.woff2" as="font" type="font/woff2" crossorigin />
<link rel="preload" href="/fonts/montserrat-v24-latin-500.woff2" as="font" type="font/woff2" crossorigin />
<link rel="preload" href="/fonts/montserrat-v24-latin-600.woff2" as="font" type="font/woff2" crossorigin />
<link rel="preload" href="/fonts/montserrat-v24-latin-700.woff2" as="font" type="font/woff2" crossorigin />