<ul class="posts__list">
    {% for post in postsList %}
        <li class="posts__list-item">
            <a href="/posts/{{ post.slug }}">
                <h2 class="posts__title">{{ post.title }}</h2>
            </a>
            <h3 class="posts__date">{{ post.date | toPostDate }}</h3>
            <ul class="tags__list">
                {% for tag in post.tags %}
                    <li class="tags__list-item">
                        <a href="/tags/{{ tag }}">#{{ tag }}</a>
                    </li>
                {% endfor %}
            </ul>
            <p class="posts__excerpt">{{ post.excerpt }}</p>
        </li>
    {% endfor %}
</ul>